.datos-alumno{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.datos-alumno-contenedor{
    display: flex;
    flex-direction: column;

    background-color: #126653;
    width: 80%;
    border-radius: 10px;
    margin-top: 5%;
}

.datos-alumno-contenedor > span {
    font-weight: bold;
    color: #D0D4D3;
    padding: 5%;
    
}

.datos-alumno-contenedor > div{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: #D0D4D3;

}